body {
  background: Linen;
}

a { text-decoration: none; color: Black;}
a:hover { text-decoration: none; color: DodgerBlue; }

img.avatar {
  max-width: 100%;
  max-height: 225px;
}

.popover{  max-width: 75%; }

div.jumbotron h1 span { letter-spacing: 5px;}

.on-top { z-index:99; }

/* Unused ??? */
.panel {
  border: 1px solid Tan;
  background: White;
}

/* Tables */
.table {
}
.table td {
  border-bottom: 1px dotted Linen;
}
.table-sm tr+td span {
  margin-left: 2px;
}

.table-sm {
  margin-bottom: 2px;
}
.table-sm th, .table-sm td {
    border-top: 0px;
    padding: 0;
  }
}
.table-sm td input[type=text] {}
input[type=text], input[type=number] {
  text-align: center;
  background-color: Linen;
}
select, textarea {
  background-color: Linen;
}

table.shift-up {
  position:relative;
  top:-24px;
  margin-bottom: -24px;
}
table.shift-up th {
  color: White;
  font-size: 80%;
  border-bottom: 0px;
  padding-bottom: 3px;
}

.mt--2 { position: relative; top:-2px; }
.mt--4 { position: relative; top:-4px; }
.mt--6 { position: relative; top:-6px; }

/* Attributes */
.attrib-1 { color: SeaGreen; }
.attrib-2 { color: MediumSeaGreen; }
.attrib-3 { color: LimeGreen; }
.attrib-4 { color: LimeGreen; }
.attrib-5 { color: LimeGreen; }
.attrib--1 { color: FireBrick; }
.attrib--2 { color: Crimson; }
.attrib--3 { color: Red; }
.attrib--4 { color: Red; }
.attrib--5 { color: Red; }

/* Fonts */
.fs70 { font-size: 70%; }
.fs80 { font-size: 80%; }
.fs90 { font-size: 90%; }
.fs110 { font-size: 110%; }
.fs115 { font-size: 115%; }
.fs120 { font-size: 120%; }
.fs125 { font-size: 125%; }
.fs130 { font-size: 130%; }
.fs150 { font-size: 150%; }
.fs175 { font-size: 175%; }
.fs200 { font-size: 200%; }
