<! ABILITIES >
{% with A = CS.Abilities %}
<div class='card px-0'>
 <div class='card-header {{cardHeader}}'>Abilities
   <i class='fas fs80 fa-sync'></i> <i class='float-right mt-1 fas fa-edit'></i></div>
 <div id='bodyAbilities' class='card-body p-1'>
  <table class='table table-sm text-center shift-up'>
    <thead>
      <tr ><th onClick="pokeAttrib('Abilities','0','nonce','Refresh');"></th>
      <th title='Ability Score'>A</th>
      <th title='Ability Modifier' >Mod</th>
      <th title='Edit Temporary Modifiers' data-toggle="modal" data-target="#dlgAbilities"></th></tr>
    </thead>
    <tbody class='fs120'>
    {% for Ab in abilityOrder -%}
      <tr >
        <td><span title='' class='badge badge-secondary'>{{Ab}}</span></td>
        <td>{{A[Ab].score}}</td><td class='attrib-{{A[Ab].mod}}'>{{A[Ab].mod}}</td>
        <td class='table-{{A[Ab].css}}'>{{A[Ab].temp}}</td>
      </tr>
    {% endfor -%}
    </tbody>
  </table>
 </div>
</div>

<!-- Modal -->
<form id='fmAbilities' method=POST>
<div class="modal fade" id="dlgAbilities" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <! Header >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit (Temp) Abilities</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <! Body >
      <div class="modal-body">
        <table>
        {% for Ab in abilityOrder -%}
        <tr><td >Temp {{Ab}} Mod</td><td class='pl-5'><input type=number min=-9 max=9 size=2 name='{{Ab}}' value='{{A[Ab].temp}}'></td></tr>
        {% endfor -%}
        </table>
      </div>

      <! Footer >
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>
{% endwith %}

<script>$("#fmAbilities").submit(saveSectionItem);</script>
