<! Combat >
{% with C = CS.Combat %}
<div class='card px-0'>
  <div class='card-header {{cardHeader}}'>Combat
    <i class='fas fs80 fa-sync' onClick="pokeAttrib('Combat','0','nonce','Refresh');"></i>
    <i title='Edit' class='float-right pt-1 fas fa-edit' data-toggle="modal" data-target="#dlgCombat"></i></div>
  <div id='bodyCombat' class='card-body p-1'>
    <table class='table table-sm fs120'>
      <tr ><td><span title='' class='badge badge-secondary'>Initiative</span></td>
        <td title='DEX({{CS.Abilities.DEX.mod}}) + Bonus({{C.init_bonus}})'>{{C.initiative}}</td></tr>
      <tr ><td><span title='Armour Class' class='badge badge-secondary'>AC (Touch)</span></td><td>{{C.AC}} ({{C.AC - CS.Abilities.DEX.mod}})</td></tr>
      <tr ><td><span title='Hit Points' class='badge badge-secondary'>HP</span></td>
        <td>{%if C.damage > 0%}<span class='badge badge-warning p-1 fs120'>{{C.max_hp - C.damage}}</span> of {{C.max_hp}}{%else%}<span class='badge badge-success p-1 fs120'>{{C.max_hp}}</span>{%endif%}</td></tr>
      <! Damage Form >
        <tr >
          <td><span title='Damage' class='badge badge-secondary'>Damage</span></td>
          <td><span class='{%if C.damage > 0%}text-danger font-weight-bold{%endif%}'>{{C.damage}}</span>
            <div class='float-right'>
                <button value='-' onClick="takeDamage('Damage')" title='Take Damage' class='bg-danger text-white border-0 fas fa-arrow-down px-0 py-1 fs90'>
                </button><input id='Damage' type='number' min=0 max=99 size=2 class='p-0 mx-0 border-1 text-center' value='1'><button
                  value='H' onClick="takeDamage('Healing')" title='Receive Healing' class='bg-success text-white border-0 fas fa-arrow-up px-0 py-1 fs90'></button>
            </div>
          </td>
        </tr>
      <tr ><td><span title='' class='badge badge-secondary'>Grapple</span></td><td title='Base({{C.base_attack}}) + STR({{CS.Abilities.STR.mod}})'>{{C.grapple}}</td></tr>
      <tr ><td><span title='' class='badge badge-secondary'>Base Attack</span></td><td>{{C.all_attacks|join('/')}}</td></tr>
    </table>
  </div>
</div>

<!-- Modal -->
<form id='fmCombat' method=POST>
<div id="dlgCombat" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
 <div class="modal-dialog " role="document">
  <div class="modal-content">
    <! Header >
    <div class="modal-header">
      <h5 class="modal-title">Edit Combat Stats</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <! Body >
    <div class="modal-body">
      <table >
        <tr><td>Initiative Bonus</td><td class='pl-5'><input type=number size=2 min=-5 max=9 name='init_bonus' value='{{C.init_bonus}}'></td></tr>
        <tr><td>Hit Points</td><td class='pl-5'><input type=number size=4 min=1 max=999 name='max_hp' value='{{C.max_hp}}'></td></tr>
        <tr><td>Base Attack (*)</td><td class='pl-5'><input type=text size=6 name='all_attacks' value='{{C.all_attacks|join('/')}}'></td></tr>
        <tr><td><i class='text-info'>Please use "x/y" for higher levels</i></td></tr>
      </table>
    </div>

    <! Footer >
    <div class="modal-footer">
     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     <button type="submit" class="btn btn-success" name='submit' value='Save'>Save changes</button>
    </div>
  </div>
 </div>
</div>
</form>
{% endwith %}

<script>
$("#fmCombat").submit(saveSectionItem);
function takeDamage(Action){
    v = $('#Damage').val();
    console.log(Action+v);
    pokeAttrib('Combat','_',Action,v)
}
</script>
