<! FEATS >
<div class='card px-0'>
 <div class='card-header {{cardHeader}}'>FEATS
   <i title='Add Feat' class='float-right pt-1 fas fa-plus-circle' data-toggle="modal" data-target="#dlgFeats" onClick='setFeatData(-1,{})'></i></div>
 <div id='bodyFeats' class='card-body p-1'>
  <table class='table table-sm'>
  {% for F in CS.Feats -%}
  <tr >
    <td >{{F.name}}</td>
    {%if F.description%}<td >
        <a href='{{F.url}}' target=_Blank><i class='fas fa-info-circle text-{%if F.url%}success{%else%}info{%endif%}'
          data-toggle="popover" data-html=true data-trigger=hover
          data-content="{{F.notes}} <hr> {{F.description}}"></i></a>
        <i title='Edit' class='fas fa-edit' data-toggle="modal" data-target="#dlgFeats" onClick='setFeatData({{loop.index0}},{{F|tojson}})'></i>
      </td>
    {%else%}<td></td>{%endif -%}
    </tr>
  {%endfor -%}
  </table>
 </div>
</div>

<!-- Modal -->
<form id='fmFeats' method=POST>
<div id="dlgFeats" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
 <div class="modal-dialog " role="document">
  <div class="modal-content">
    <! Header >
    <div class="modal-header">
      <h5 class="modal-title">Edit Feat</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <! Body >
    <div class="modal-body">
     <table>
       <input type=hidden name='ID' id='fID' value=''>
       <tr><td class='text-info'>NAME *</td><td class='pl-5'><input type=text size=20 name='name' id='fName' value=''></td></tr>
       <tr><td>Notes</td><td class='pl-5'><textarea cols=35 rows=4 name='notes' id='fNotes' value=''></textarea></td></tr>
       <tr><td colspan=2 class='text-info'><i>* Please use a standard NAME in order for the stats to be look up</i></td></tr>
     </table>
    </div>

    <! Footer >
    <div class="modal-footer">
      <button type="submit" class="btn btn-danger" name='submit' id='fDelete' value='Delete'>Delete Feat</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-success" name='submit' value='Save'>Save changes</button>
    </div>
   </div>
  </div>
</div>
</form>

<script>$("#fmFeats").submit(saveSectionItem);</script>
