<! GEAR >
<div class='card px-0'>
 <div class='card-header {{cardHeader}}'>Gear</div>
 <div id='bodyGear' class='card-body p-1'>
  <table class='table table-sm shift-up'>
    <tr><th></th><th>Total = {{CS.Armour.total}}</th><th></th><th title='Stop Using'>Use</th></tr>
    {% for Gear in CS.Armour.gear -%}
    <tr ><td><i class='{{Gear.icon}}'></i> {{Gear.name}}</td>
     <td >{{Gear.armour}}{%if Gear.magical%} <span class='badge badge-info' title='Magical'>+{{Gear.bonus}}</span>{%endif%}</td>
     <td class='fs80'> {{Gear.notes}}</td>
     <td class='text-center'><span class='fas fa-times text-danger' onClick="unuse({{Gear.inv_index}},'Gear');"></span></td></tr>
    </tr>
    {% endfor -%}
  </table>
 </div>
</div>
