<! INVENTORY >
<div class='card px-0 mt-1'>
 <div class='card-header {{cardHeader}}'>Inventory <i class='fas fs80 fa-sync'></i></div>
 <div id='bodyInventory' class='card-body p-1'>
  <table class='table table-sm shift-up text-center'>
   <tr>
    <th></th><th onClick="pokeAttrib('Inventory','0','nonce','Refresh');"></th>
    <th>Type</th>
    <th>In-Use</th>
    <th>Bonus</th>
    <th title='Add Item' data-toggle="modal" data-target="#dlgInventory" onClick='setInvData(-1,{})'><i class='float-right fs120 fas fa-plus-circle' ></i></th>
   </tr>
   {% for Item in CS.Inventory %}{%if (CS.Config.show_in_use or not Item.in_use) and not Item.name.startswith('_') -%}
   <tr {%if Item.in_use%}class='table-light text-secondary'{%endif%}{%if Item.name.startswith('_')%}class='table-info text-secondary'{%endif%}>
    <td>{%if Item.qty>1%}{{Item.qty}}x{%endif%}</td>
    <td class='text-left'>{{Item.prefix}} {{Item.name}} {{Item.suffix}}{%if Item.magical%} <i title='Magical' class='fas fa-hat-wizard text-success'></i>{%endif%}</td>
     <td title='{{Item.type}}'><i class='{{Item.icon}}'></i></td>
     <td>{%if Item.type in ['Weapon','Armour','General']%}<a title='Toggle' onClick="useInv({{loop.index0}},'{{Item.type}}');">
        {%if Item.in_use%}<i class='fas fa-check text-success'></i>
        {%else%}<i class='fas fa-check text-secondary'></i>{%endif%}</a>{%endif%}</td>
     <td><span {%if Item.magical%}class='badge badge-success'{%endif%}>{{Item.bonus}}</span></td>
     <td>{%if Item.notes or Item.description%}<i class='fas fa-info-circle text-info' data-toggle="popover" data-html=true data-trigger=hover title='{{Item.name}}'
        data-content="<span class='text-info'>{{Item.notes}}</span>{%if Item.notes and Item.description%}<br>{%endif%}<i>{{Item.description}}</i>"></i>
        {%else%}<i class='fas fa-info-circle text-white'></i>{%endif%}
        <i title='Edit' class='fas fa-edit' data-toggle="modal" data-target="#dlgInventory" onClick='setInvData({{loop.index0}},{{Item|tojson}})'></i></td>
     </tr>
     {%endif%}{% endfor -%}
    </table>
  </div>
</div>

<!-- Modal -->
<form id='fmInventory' method=POST>
<div id="dlgInventory" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <! Header >
      <div class="modal-header">
        <h5 class="modal-title">Edit Inventory Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <! Body >
      <div class="modal-body">
        <table>
            <input type=hidden name='ID' id='invID' value=''>
            <tr class='inv-hide'><td>Prefix</td><td class='pl-5'><input type=text size=20 name='prefix' id='invPrefix' value=''></td></tr>
            <tr class='inv-hide'><td class='text-info'>NAME *</td><td class='pl-5'><input type=text size=20 name='name' id='invName' value=''>
              <i class='fas text-info fa-info-circle' title='Please use a standard NAME in order for the stats to be look up'></i></td></tr>
            <tr class='inv-hide'><td>Suffix</td><td class='pl-5'><input type=text size=20 name='suffix' id='invSuffix' value=''></td></tr>
            <tr class='inv-hide'><td>Type</td><td class='pl-5'><select name='type' id='invType'>
              {%for tt in ['General','Armour','Weapon','Consumable','Scroll','Natural']%}<option id='inv{{tt}}'>{{tt}}</option>{%endfor%}
            </select></td></tr>
            <tr class='inv-hide'><td>Magical</td><td class='pl-5'><input type=checkbox name='magical' id='invMagical' ></td></tr>
            <tr class='inv-hide'><td>Bonus</td><td class='pl-5'><input type=number size=3 min=-9 max=9 name='bonus' id='invBonus' value=''>
              <i class='fas fa-info-circle' title='Applies to Attack+Damage for Weapons and AC for Armour'></i></td></tr>
            <tr class='inv-hide'><td>Quantity</td><td class='pl-5'><input type=number size=4 min=1 max=999 name='qty' id='invQty' value=''></td></tr>
            <tr><td>Notes</td><td class='pl-5'><textarea cols=35 rows=3 name='notes' id='invNotes' value=''></textarea></td></tr>
            <tr><td colspan=2></td></tr>
        </table>
        <table class='w-100'>
          <tr><td colspan=6 class='b'><b>Bonuses</b></td></tr>
          <tr><td>STR</td><td>DEX</td><td>CON</td><td>INT</td><td>WIS</td><td>CHA</td></tr>
          <tr>
            <td><input type=number size=3 min=-9 max=9 name='bonus_str' id='invBonus_str' value=''></td>
            <td><input type=number size=3 min=-9 max=9 name='bonus_dex' id='invBonus_dex' value=''></td>
            <td><input type=number size=3 min=-9 max=9 name='bonus_con' id='invBonus_con' value=''></td>
            <td><input type=number size=3 min=-9 max=9 name='bonus_int' id='invBonus_int' value=''></td>
            <td><input type=number size=3 min=-9 max=9 name='bonus_wis' id='invBonus_wis' value=''></td>
            <td><input type=number size=3 min=-9 max=9 name='bonus_cha' id='invBonus_cha' value=''></td>
          </tr>
          <tr><td title='Initiative'>Init</td><td>Fort</td><td>Ref</td><td>Will</td><td>Poison</td><td>Spells</td></tr>
          <tr>
            <td><input type=number size=3 min=-9 max=9 name='bonus_init' id='invBonus_init' value=''></td>
            <td><input type=number size=3 min=-9 max=9 name='bonus_fortitude' id='invBonus_fortitude' value=''></td>
            <td><input type=number size=3 min=-9 max=9 name='bonus_reflex' id='invBonus_reflex' value=''></td>
            <td><input type=number size=3 min=-9 max=9 name='bonus_will' id='invBonus_will' value=''></td>
            <td><input type=number size=3 min=-9 max=9 name='bonus_poison' id='invBonus_poison' value=''></td>
            <td><input type=number size=3 min=-9 max=9 name='bonus_spells' id='invBonus_spells' value=''></td>
          </tr>
        </table>
      </div>

      <! Footer >
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" name='submit' id='invDelete' value='Delete'>Delete Item</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" name='submit' value='Save'>Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>

<script>$("#fmInventory").submit(saveSectionItem);
</script>
