<! Money >
<div class='card px-0 mt-1'>
  <div class='card-header {{cardHeader}}'>Money <i title='Edit' class='float-right pt-1 fas fa-edit' data-toggle="modal" data-target="#dlgMoney"></i></div>
  <div id='bodyMoney' class='card-body p-1'>
    <table class='table table-sm '>
      {% for M in CS.Money.currency -%}
      <tr><td><span class='badge badge-secondary' title='Worth {{M.factor}} Gold'>{{M.name}}</span></td><td>{{M.qty}}</td></tr>
      {% endfor -%}
      <tr><td><span class='badge badge-info'>Total</span></td><td class='text-info font-weight-bold'>{{"%.2f"|format(CS.Money.total)}}</td></tr>
      <tr><td colspan=2 class='font-italic fs80'>{{CS.Money.notes}}</td></tr>
    </table>
  </div>
</div>

<!-- Modal -->
<form id='fmMoney' method=POST>
<div class="modal fade" id="dlgMoney" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <! Header >
      <div class="modal-header">
        <h5 class="modal-title" id="">Edit Money</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <! Body >
      <div class="modal-body">
        <table>
        {% for M in CS.Money.currency -%}
        <tr><td>{{M.name}}</td><td class='pl-5'><input type=text size=6 name='{{M.name}}' value='{{M.qty}}'></td></tr>
        {% endfor -%}
        </table>
      </div>

      <! Footer >
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>

<script>$("#fmMoney").submit(saveSectionItem);</script>
