<! Physical >
{% with P = CS.Physical %}
<div class='card px-0'>
  <div class='card-header {{cardHeader}}'>Physical Attribs
    <i class='fas fs80 fa-sync' onClick="pokeAttrib('Physical','0','nonce','Refresh');"></i>
    <i title='Edit Racial Mods' class='ml-2 fas fa-user' data-toggle="modal" data-target="#dlgInventory" onClick='setInvData(0,{{CS.Inventory.0|tojson}})'></i>
    <i title='Edit' class='float-right pt-1 fas fa-edit' data-toggle="modal" data-target="#dlgPhysical"></i></div>
  <div id='bodyPhysical' class='card-body p-1'>
      <table class='table table-sm'>
        <tr ><td><span title='Race'   class='badge badge-secondary'>Race</span></td><td>{{P.race}}</td></tr>
        <tr ><td><span title='Class'   class='badge badge-secondary'>Class</span></td><td>{{P.class}}</td></tr>
        <tr ><td><span title='Spell Caster Class' class='badge badge-secondary'>Spell Class</span></td><td>{{P.spellcaster}}</td></tr>
        <tr ><td><span title='Alignment' class='badge badge-secondary'>Align</span></td><td>{{P.alignment}}</td></tr>
        <tr ><td><span title='Height & Gender'  class='badge badge-secondary'>H &amp; G</span></td><td>{{P.height}} {{P.gender}}</td></tr>
        <tr class='fs130 border-top'><td><span title='Level'    class='badge badge-secondary'>Level</span></td><td>{{P.level}}</td></tr>
        <tr class='fs130'><td><span title='Experience Points' class='badge badge-secondary'>XP</span></td><td>{{P.xp}} <span class='small text-secondary'>({{P.xp2}})</span></td></tr>
      </table>
  </div>
</div>

<!-- Modal -->
<form id='fmPhysical' method=POST>
<div id="dlgPhysical" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
 <div class="modal-dialog " role="document">
  <div class="modal-content">
    <! Header >
    <div class="modal-header">
      <h5 class="modal-title">Edit Physical Attributes</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <! Body >
    <div class="modal-body" >
      <table >
        <tr><td>Race</td><td class='pl-5'><input type=text size=20 name='race' value='{{P.race}}'></td></tr>
        <tr><td>Class</td><td class='pl-5'><input type=text size=15 name='class' value='{{P.class}}'></td></tr>
        <tr><td>Spell Class</td><td class='pl-5'>
            <select name='spellcaster'>{%for scc in ['','Bard','Cleric','Druid','Paladin','Ranger','Wizard'] -%}
              <option {%if P.spellcaster == scc%}selected{%endif%}>{{scc}}</option>{%endfor -%}</select></td></tr>
        <tr><td>Alignment</td><td class='pl-5'><input type=text size=6 name='alignment' value='{{P.alignment}}'></td></tr>
        <tr><td>Gender</td><td class='pl-5'><input type=text size=10 name='gender' value='{{P.gender}}'></td></tr>
        <tr><td>Height</td><td class='pl-5'><input type=text size=10 name='height' value='{{P.height}}'></td></tr>
        <tr><td>Level</td><td class='pl-5'><input type=number size=2 min=1 max=99 name='level' value='{{P.level}}'></td></tr>
        <tr><td>Add XP</td><td class='pl-5'><input type=number size=4 min=-9999 max=9999 name='add_xp' value='0'></td></tr>
      </table>
    </div>

    <! Footer >
    <div class="modal-footer">
     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     <button type="submit" class="btn btn-success" name='submit' value='Save'>Save changes</button>
    </div>
  </div>
 </div>
</div>
</form>
{% endwith %}

<script>
$("#fmPhysical").submit(saveSectionItem);
</script>
