<! Saving >
<div class='card px-0'>
  <div class='card-header {{cardHeader}}'>Saving Throws
    <i class='fas fs80 fa-sync' onClick="pokeAttrib('Saving','0','nonce','Refresh');"></i>
    <i title='Edit' class='float-right pt-1 fas fa-edit' data-toggle="modal" data-target="#dlgSaving"></i></div>
  <div id='bodySaving' class='card-body p-1'>
    <table class='table table-sm'>
      {% for S in CS.Saving -%}
      <tr class='fs120'><td class='w25'><span {%if S.ability%}title='{{S.ability}} Based'{%endif%} class='badge badge-secondary'>{{S.name}}</span></td>
        <td title='{{S.calc}}'>{{S.score}}</td>
      </tr>
      {% endfor -%}
    </table>
  </div>
</div>

<!-- Modal -->
<form id='fmSaving' method=POST>
<div id="dlgSaving" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
    <! Header >
    <div class="modal-header">
      <h5 class="modal-title">Edit Saving Throws</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <! Body >
    <div class="modal-body">
      <table>
       {% for Save in CS.Saving -%}
        <tr><td class='pr-5'>{{Save.name}} Base</td><td ><input type=number size=2 min=-5 max=9 name='{{Save.name}}' value='{{Save.base}}'></td></tr>
       {% endfor -%}
      </table>
    </div>

    <! Footer >
    <div class="modal-footer">
     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     <button type="submit" class="btn btn-success" name='submit' value='Save'>Save changes</button>
    </div>
  </div>
 </div>
</div>
</form>

<script>
$("#fmSaving").submit(saveSectionItem);
</script>
