<! Skills >
<div class='card px-0'>
 <div class='card-header {{cardHeader}}'>Skills</div>
 <div id='bodySkills' class='card-body p-1'>
  <table class='table table-sm text-center shift-up'>
   <tr >
    <th data-toggle="modal" data-target="#dlgSkills"><i class='float-right fs130 fas fa-edit'></i></th>
    <th>SKILL</th>
    <th title='Your Ranking'>Rank</th>
    <th title='Key Ability'>KA</th>
    <th title='Ability Modifier'>AM</th>
    <th title='Can be used Untrained' >U</th>
    <th title='Misc Modifier'></th>
   </tr>
   {% for skill in CS.Skills -%}
   <tr >
    <td class='text-left {%if not (skill.UT or skill.score)%}text-secondary{%endif%}'>{{skill.name}}{%if skill.suffix%} - {%endif%}{{skill.suffix}}</td>
    <td><span class='badge badge-{{skill.css}} px-2 py-1'>{{skill.total}}</span></td>
    <td>{%if skill.score>0%}<span onClick="upSS({{loop.index0}},-1)" class='dec'></span>{%
          else%}<span class='dec0'></span>{%endif
        %}{{skill.score}}<span onClick="upSS({{loop.index0}},1)" class='inc'></span>
    </td>
    <td class='fs70 pt-1 text-info'>{{skill.key}}</td>
    <td >{{skill.mod}}</td>
    <td class='fs70 pt-1 text-info'>{%if skill.UT %}U{%endif%}</td>
    <td >{{skill.Xmisc}}</td>
   </tr>
   {% endfor -%}
   <tr><td class='text-left' colspan=2>TOTAL</td><td>{{CS.skill_points}}</td><td colspan=4></td></tr>
  </table>
 </div>
</div>

<!-- Modal -->
<form id='fmSkills' method=POST>
<div id="dlgSkills" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
    <! Header >
    <div class="modal-header">
      <h5 class="modal-title">Edit Skills</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <! Body >
    <div class="modal-body">
      <table>
       {% for Skill in CS.Skills -%}
       {%if 'suffix' in Skill -%}
       <tr><td class='w-50'>{{Skill.name}}</td><td ><input type=text size=15 name='skill_{{loop.index0}}' value='{{Skill.suffix}}'></td></tr>
       {% endif -%}
       {% endfor -%}
      </table>
    </div>

    <! Footer >
    <div class="modal-footer">
     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     <button type="submit" class="btn btn-success" name='submit' value='Save'>Save changes</button>
    </div>
  </div>
 </div>
</div>
</form>

<script>
$("#fmSkills").submit(saveSectionItem);
$('#bodySkills .dec0').prop('class','fas fa-arrow-down text-light fs70');
$('#bodySkills .dec').prop('class','fas fa-arrow-down text-danger fs70').prop('title','Reduce Skill');
$('#bodySkills .inc').prop('class','fas fa-arrow-up text-success fs70').prop('title','Improve Skill');
function upSS(ID,Val) {
  pokeAttrib('Skills',ID,'score',Val);
}
</script>
