<! SPELLS >
<div class='card px-0 mt-1'>
  <div class='card-header {{cardHeader}}'>Spell Books
    <i class='fas fs80 fa-sync' onClick="pokeAttrib('Spellbooks','0','nonce','Refresh');"></i>
    <i title='Add Spellbook' class='float-right pt-1 fas fa-plus-circle' data-toggle="modal" data-target="#dlgSpellbooks"
      onClick="$('#sbID').val(-1);$('#sbTitle').val('');$('#btnSubmit').text('Create');$('#sbDelete').hide()"></i>
  </div>
  <div id='bodySpellbooks' class='card-body p-1'>

  <div class='row mx-0'>
    <ul class="nav nav-pills flex-column col-2" role='tablist'>
    {% for book in CS.Spellbooks -%}
      <li class="nav-item">
        <a class="nav-link{%if loop.index==1%} active{%endif%}" href="#sb-content-{{loop.index}}" data-toggle="tab" >{{book.title}}</a>
      </li>
    {% endfor -%}
    </ul>
    <div id='sb-contents' class='col-5 px-0 tab-content bg-light'>
    {% for book in CS.Spellbooks -%}{%set bookIdx=loop.index0%}
      <div id='sb-content-{{loop.index}}' class='tab-pane fade{%if loop.index==1%} show active{%endif%}'>
        <table class='table table-sm table-striped'>
          <tr><th>Level</th>
            <th>Name <i title='Add Spell to Book' class='ml-3 fas fa-plus-circle text-success' data-toggle="modal" data-target="#dlgAddSpell" onClick="$('#sbID').val({{loop.index0}})"></i></th>
            <th><i title='Edit Spellbook' class='ml-0 float-right fas fa-edit' data-toggle="modal" data-target="#dlgSpellbooks"
            onClick="$('#sbID').val({{loop.index0}});$('#sbTitle').val('{{book.title}}');$('#btnSubmit').text('Save');$('#sbDelete').{%if book.spells|length==0 %}show{%else%}hide{%endif%}()"></i></th>
          </tr>
          {% for tag, spell in book.spells.items() -%}{% set Spell = Ark.RuleBooks[spell.book_id].spells[spell.spell_id|string] %}
          <tr {%if spell.shredded%}class='bg-secondary' title='This page has been shredded'{%endif%}>
            <td><span class='mx-2 badge badge-info'>{{spell.myLevel}}</span></td>
            <td>{{Spell.Title}}</td>
            <td class='text-right'>
              <i title='Delete from book' class='fas fa-times text-danger'
                onClick='pokeAttrib("Spellbooks",{{bookIdx}},"{{tag}}","DELETE!")'></i>
              <i title='Confetti' class='ml-2 fas fa-toilet-paper {%if spell.shredded%}text-success{%else%}text-danger{%endif%}'
                onClick='toggleAttrib("Spellbooks",{{bookIdx}},"shredded?item={{tag}}")'></i>
              <i class='ml-3 fas fa-info-circle text-info' data-toggle="popover"
              data-html=true data-trigger=hover
              data-content="Level: {{Spell.Level}}<br>Range: {{Spell.Range}}<br>Duration: {{Spell.Duration}}<br>Area: {{Spell.Area}}<br>Saving: {{Spell.Saving}}"></i>
              <i title='Memorize' class='ml-1 fas fa-head-side-virus {%if spell.memorized%}text-success{%endif%}'
                onClick='toggleAttrib("Spellbooks",{{bookIdx}},"memorized?item={{tag}}")'></i></td>
          </tr>
          {% endfor -%}
        </table>
      </div>
    {%endfor -%}
    </div>

    <div class='col-5'>
    <h4>Memorized</h4>
    <table class='table table-sm table-striped'>
      <tr><th>Level</th><th>Name</th><th>Info</th></tr>
      {% for book in CS.Spellbooks -%}{%set bookIdx=loop.index0%}
        {% for tag, spell in book.spells.items() -%}
        {% if spell.memorized -%}
        {% set Spell = Ark.RuleBooks[spell.book_id].spells[spell.spell_id|string] %}
        <tr>
          <td><span class='mx-2 badge badge-info'>{{spell.myLevel}}</span></td>
          <td>{{Spell.Title}}</td>
          <td><i class='fas fa-info-circle text-info'data-toggle="popover" data-html=true data-trigger=hover
            data-content="Level: {{Spell.Level}}<br>Range: {{Spell.Range}}<br>Duration: {{Spell.Duration}}<br>Area: {{Spell.Area}}<br>Saving: {{Spell.Saving}}"></i>
            <i href='' title='Remove' class='float-right pt-1 mr-2 fas fa-head-side-virus text-warning'
              onClick='toggleAttrib("Spellbooks",{{bookIdx}},"memorized?item={{tag}}")'></i></td>
        </tr>
        {% endif -%}
        {% endfor -%}
      {% endfor -%}
    </table>
    </div>
  </div>
  </div>
</div>

<!-- Modal -->
<form id='fmSpellbooks' method=POST>
<div class="modal fade" id="dlgSpellbooks" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title">SpellBook</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <input type=hidden name=ID id=sbID>
        Book Title  <input type=text size=12 class='ml-5' name='sbTitle' id=sbTitle value=''>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" name='submit' id='sbDelete' value='Delete'>Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" name='submit' value='Save'>Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>

<div class="modal fade" id="dlgAddSpell" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title">Add Spell</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <input type=hidden name=ID id=sbID>
        Search Spells <input type=text size=25 class='ml-3' id='srch-term' value=''>
        <button class='btn btn-info'><i class='fas fa-search' onClick='srch4spells2add()'></i></button><br>
        <i class='text-info'>Use comma to separate multiple searches</i>
        <hr>
        <table class='table table-sm table-striped'>
          <tr><th>Spell</th><th>Book</th><th></th></tr>
          <tbody id='srch4spells'></tbody>
        </table>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
$("#fmSpellbooks").submit(saveSectionItem);
</script>
