<! WEAPONS >
{% with C = CS.Combat %}
<div class='card px-0'>
 <div class='card-header {{cardHeader}}'>Weapons</div>
 <div id='bodyWeapons' class='card-body p-1'>
  <table class='table table-sm shift-up'>
    <tr><th></th><th title=''>To Hit</th><th>Damage</th><th >Crit</th><th>Notes</th><th title='Stop Using'>Use</th></tr>
    {% for W in CS.Weapons -%}
    <tr><td>
        {{W.full_name}}{%if W.qty > 1%} <span class='badge badge-warning'>x{{W.qty}}</span>{%endif%}
         {%if W.bonus>0%}<span class='ml-2 badge badge-info'>+{{W.bonus}}</span>{%endif%}</td>
    <td title='Base={{C.base_attack}} + {{W.abilityMod}} + Bonus={{W.bonus}}'>{{W.to_hit}}</td>
    <td>{{W.damage}}{%if W.dmg_bonus%}<span class='xbadge xbadge-secondary text-danger'> + {{W.dmg_bonus}}</span>{%endif%}</td>
    <td>{{W.critical}}</td>
    <td>{{W.notes}}</td>
    <td class='text-center'><span class='fas fa-times text-danger' onClick="unuse({{W.inv_index}},'Weapons');"></span></td></tr>
    {% endfor -%}
  </table>
 </div>
</div>
{% endwith %}
