<!DOCTYPE html>
<html lang="en">
{# FA: shiled Dice Dungeon Fist/Hand Gavel

   Cerulean = OK, (td.underline)
   Cosmo = OK, but spaced
   Cyborg = DARK, big bigger
   Darkly = DARK, Poss
   Flatly = OK
   Lumen = OK, but spaced
   Lux = wrong (max?) width
   Minty = OK
   Morph = No
   Quartz = wow, but wrong width
   Sandstone - Poss
   Slate = DARK, OK
   Spacelab - Poss (spaced out)
   Superhero = DARK, OK
   YETI - possible
#}
<head>
  <title>{{pageTitle}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/face.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  {%if bsTheme != '' -%}
  <link rel="stylesheet" href="https://bootswatch.com/5/{{bsTheme}}/bootstrap.min.css">
  {%endif -%}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script src="/static/my.js" ></script>
  <link rel="stylesheet" href="/static/my.css">
</head>

<body >
  <div class="jumbotron text-center p-1 mb-1">
    <img class='float-right ml-5 pt-1' src='/static/logo.png'>
    <div class='float-right h3 mt-2'>

      <button class="btn btn-light border-0 px-2 py-1" type="button" id="menuHome" >
          <a href='/' title='Home' class='fas fa-home pt-1 fs175 text-secondary'></a></button>
      {% block extraMenu %}{%endblock%}
      <div class="dropdown d-inline">
        <button class="btn bg-light border-0 dropdown-toggle px-2 py-1" type="button" id="ddmenuInfo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i title='Help & Info' class='fas fa-info-circle pt-1 text-secondary fs175'></i></button>
        <div class="dropdown-menu" aria-labelledby="">
          <a class='dropdown-item' href='/help/About'><i class='fas fa-question-circle pt-2 mr-2'></i> Help : About</a>
          <a class='dropdown-item' href='/rules/Basic'><i class='fas fa-book pt-2 mr-2'></i> Rules : Basic</a>
          <a class='dropdown-item' href='/rules/Magic'><i class='fas fa-book pt-2 mr-2'></i> Rules : Magic</a>
          <div class="dropdown-divider"></div>
          <a class='dropdown-item' title='Open in new Tab' href='https://gitlab.com/jardickson/char-sheet/-/issues' target=_Blank><i class='fas fa-bug mr-2'></i> Goto Bug List</a>
          <a class='dropdown-item' title='Open in new Tab' href='https://gitlab.com/jardickson/char-sheet/-/requirements_management/requirements' target=_Blank><i class='fas fa-atlas mr-2'></i> Goto Requirements List</a>
          <a class='dropdown-item' href='/test'><i class='fas fa-vest pt-2 mr-2'></i> Browser Test</a>
          <a class='dropdown-item' href='/test2'><i class='fas fa-vest pt-2 mr-2'></i> Browser Test (Full)</a>
        </div>
      </div>
      {%if 'localhost' in request.headers.Host -%}
      <div class="dropdown d-inline">
        <button class="btn bg-light border-0 dropdown-toggle px-2 py-1" type="button" id="ddmenuAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i title='Administration' class='fas fa-bug pt-1 text-secondary fs175'></i></button>
        <div class="dropdown-menu" aria-labelledby="">
          <a class='dropdown-item' href='/admin/magic'>Magic</a>
        </div>
      </div>
      {%endif -%}

    </div>
    <h3 class='float-left mt-2 text-primary'>EMON Character Sheets</h3>
    <h1 class='mr-5'><span class='badge badge-primary p-1 px-3'>{{pageTitle}}</span></h1>
  </div>
{% block Body -%}
{% endblock -%}
{% block Footer -%}
  <div class="jumbotron text-center p-1 mb-1">
    <div class='float-right h2 pt-3 '>
    </div>
    <h3 class='text-info'></h3>
    <h1 class='mr-5'><span class=' '>{{pageTitle}}</span></h1>
  </div>
{% endblock -%}
</body>
</html>
