{% extends 'base.html' %}

{% block extraMenu %}
<div class="dropdown d-inline">
  <button class="btn bg-light border-0 dropdown-toggle px-2 py-1" type="button" id="ddmenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i title='Character' class='fas fa-user-circle pt-1 fs175 text-secondary'></i></button>
 <div class="dropdown-menu" aria-labelledby="">
  <button class='dropdown-item' data-toggle="modal" data-target="#Configure"><i class='fas fa-cog pt-2 mr-2'></i> Configure Character</button>
  <a class='dropdown-item' href='/download/{{CS.Canonical}}' ><i class='fas fa-cloud-download-alt mr-2'></i> Download Backup</a>
  <a class='dropdown-item' href='/export/{{CS.Canonical}}' target=_Blank><i class='fas fa-file-pdf pt-2 mr-2'></i> Export</a>
 </div>
</div>
{% endblock %}

{% block Body %}
<div class='container-fluid'>
  <div class='row px-1'>

    <! Left >
    <div class='col-lg-6 p-2'>
      <div class='container-fluid px-1'>
        <div class='row px-1'>
          <div class='col-6 col-lg-3 px-1 text-center'> <img class='avatar' src='{{CS.Config.avatar}}'> </div>
          <div class='col-6 col-lg-3 px-1' id='divAbilities'> {% include '_Abilities.htm' %} </div>
          <div class='col-6 col-lg-3 px-1' id='divPhysical'> {% include '_Physical.htm' %} </div>
          <div class='col-6 col-lg-3 px-1' id='divCombat'> {% include '_Combat.htm' %} </div>

          <div class='w-100 p-1' id='divWeapons'> {% include '_Weapons.htm' %} </div>
          <div class='w-100 p-1' id='divSpellbooks'> {% include '_Spellbooks.htm' %} </div>
        </div>

      </div>
    </div>

    <! Middle >
    <div class='col-12 col-lg-3 p-2'>
      <div class='container-fluid px-1'>
        <div class='row px-1 '>
          <div class='col-6 px-1'><div id='divSaving'>{% include '_Saving.htm' %}</div><div id='divMoney'>{% include '_Money.htm' %}</div> </div>
          <div class='col-6 px-1' id='divFeats'> {% include '_Feats.htm' %} </div>
          <div class='col-6 col-lg-12 p-1' id='divGear'> {% include '_Gear.htm' %} </div>
          <div class='col-6 col-lg-12 p-1' id='divInventory'> {% include '_Inventory.htm' %} </div>
        </div>
      </div>
    </div>

    <! RHS >
    <div class='col-6 col-lg-3 p-2'>
      <div class='container-fluid px-1'>
        <div class='row px-1'>
          <div class='col-lg-12 px-1' id='divSkills'> {% include '_Skills.htm' %} </div>
        </div>
      </div>
    </div>

  </div>
</div>

{#-- Configure Modal --#}
<form method=POST id='fmConfigure'><input type=hidden name='formID' value='Configure'>
<div class="modal fade" id="Configure" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <! Header >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Configure</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <! Body >
      <div class="modal-body">
        <table>
          <tr><td>Title</td><td><input type='text' size=20 name='title' value='{{CS.Physical.title}}'></td></tr>
          <tr><td>Visual Theme</td><td class='pl-5 py-2'>
            <select name='theme'>
              <optgroup label='Light'>
                {%for theme in ['default','cerulean','flatly','minty','sandstone']%}<option class='text-capitalize' value='{{theme}}' {%if CS.Config.bootswatch == theme%}selected{%endif%}>{{theme}}</option>{%endfor%}
              </optgroup>
              <optgroup label='Dark'>
                {%for theme in ['darkly','slate','superhero']%}<option class='text-capitalize' value='{{theme}}' {%if CS.Config.bootswatch == theme%}selected{%endif%}>{{theme}}</option>{%endfor%}
              </optgroup>
            </select></td>
          </tr>
          <tr><td>Header Colour</td><td class='pl-5 py-2'>
            <select name='header'>
              {%for colour in ['primary','secondary','info']%}<option class='text-capitalize' value='{{colour}}' {%if CS.Config.boot_header == colour%}selected{%endif%}>{{colour}}</option>{%endfor%}
            </select>
          </tr>
          <tr><td>Show 'In Use' Inventory Items</td><td class='pl-5 py-2'>
            <input type=checkbox name='show_in_use' {%if CS.Config.show_in_use%}checked{%endif%}>
          </tr>
        </table>
      </div>
      <! Footer >
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}
