{% extends 'base.html' %}

{% block Body %}
<div class='container-fluid mt-3'>
<h5 class='text-info mb-0'>Abilities</h5><p>Modifiers are auto-calculated and you can edit temp scores</p>
<h5 class='text-info mb-0'>Combat</h5><p>Some fields can be edited and Initiative, AC, HP, Grapple are auto-calculated</p>
<h5 class='text-info mb-0'>FEATS</h5><p>These can be added or removed - some have associated information </p>
<h5 class='text-info mb-0'>Gear</h5><p>These are 'armour' inventory items marked as in-use</p>
<h5 class='text-info mb-0'>Inventory</h5><p>These can have a specific type (see gear and weapons), all fields can be edited</p>
<h5 class='text-info mb-0'>Money</h5><p>All fields can be edited</p>
<h5 class='text-info mb-0'>Physical</h5><p>Most fields can be edited</p>
<h5 class='text-info mb-0'>Saving Throws</h5><p>All fields can be edited</p>
<h5 class='text-info mb-0'>Skills</h5><p>You can inc/dec the skill points you assign</p>
<h5 class='text-info mb-0'>Spells (Arcane)</h5><p>To-Do</p>
<h5 class='text-info mb-0'>Spells (Divine)</h5><p>To-Do</p>
<h5 class='text-info mb-0'>Weapons</h5><p>These are 'weapon' inventory items marked as in-use</p>
</div>
{% endblock %}

{% block Footer %}
{% endblock %}
