{% extends 'base.html' %}

{% block Body %}
<div class='container-fluid'>
  <h1 class='my-5'>Welcome to Character Sheets</h1>
  <h3 class='mt-3'>The following sheets are available:</h3>
  <div class='row px-1'>
   {%for CS in Characters -%}
   {%with P=CS.Physical, C=CS.Combat%}
   <a class='col-3' href='/cs/{{CS.Canonical}}'>
    <div class='card px-0 mb-2'>
     <div class='card-header bg-info text-white px-2 py-1'>{{P.name}}</div>
     <div id='bodySaving' class='card-body p-1 fs120'>
      <img class='avatar float-left w-25' src='{{CS.Config.avatar}}'>
      <div class='float-left w-75 p-3'>
        <p>Level <span class='badge badge-warning'>{{P.level}}</span> <b>{{P.class}}</b></p>
        <p><span class='badge badge-secondary '>{{P.xp}} XP</p>
        <p class='mb-0 small'>Health is {{C.max_hp - C.damage}}</span> of {{C.max_hp}}</p>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{(C.max_hp - C.damage)*100/C.max_hp}}%" ></div>
          <div class="progress-bar bg-danger"  role="progressbar" style="width: {{C.damage*100/C.max_hp}}%" ></div>
        </div>
      </div>
     </div>
    </div>
   </a>
   {%endwith -%}
   {%endfor -%}
  </div>
</div>
{% endblock %}

{% block Footer %}
{% endblock %}
