{% extends 'base.html' %}

{% block Body %}
<div class='container-fluid'>
 {%for bid,book in Books.items() -%}
  <h3>From <b>{{book.Title}}</b></h3>
  <table class='table table-sm table-striped'>
   <tr><th>Name</th><th>Level(s)</th><th>Casting</th><th>Range</th><th>Area</th><th>Duration</th><th>Saving</th><th>Info</th><th>Source</th></tr>
  {%for sid,spell in book.spells.items() -%}
  <tr><td>{%if spell.Title%}{{spell.Title}}{%else%}{{spell.slug}}{%endif%}<a class='mx-3 float-right fas fa-download' href='/ark/get/{{bid}}/{{sid}}'></a></td>
    <td>{{spell.Level}}</td><td>{{spell.Casting}}</td><td>{{spell.Range}}</td><td>{{spell.Area}}</td><td>{{spell.Duration}}</td>
    <td>{{spell.Saving}}</td><td><i class='fas fa-info-circle' data-toggle="popover" data-html=true data-trigger=hover
          data-content="{{spell.Words}}"></i></td><td><a target=_Blank class='ml-3 fas fa-link' href='{{spell.URL}}'></a></td></tr>
  {%endfor -%}
  </table>
 {%endfor -%}
</div>

<script>
</script>
{% endblock -%}

{% block Footer -%}
{% endblock -%}
