{% extends 'base.html' %}

{% block Body %}
<div class='container-fluid mt-3'>
<!-- Armour -->
<h2>Armour</h2>
<table class='table table-sm bg-light'>
  <tr class='table-info'><th>Name</th><th>AC</th><th>Description</th></tr>
  {% for aName, aData in Rules.getArmour().items() -%}
  <tr><td>{{aName}}</td><td>{{aData.armour}}</td><td>{{aData.description}}</td></tr>
  {% endfor -%}
</table>
<!-- Weapons -->
<h2>Weapons</h2>
<table class='table table-sm bg-light'>
  <tr class='table-info'><th>Name</th><th>Style</th><th>Damage</th><th>Critical</th><th>Description</th></tr>
  {% for wName, wData in Rules.getWeapons().items() -%}
  <tr><td>{{wName}}</td><td>{{wData.style}}</td><td>{{wData.damage}}</td><td>Crit= {{wData.critical}}</td><td>{{wData.description}}</td></tr>
  {% endfor -%}
</table>
<!-- Feats -->
<h2>Feats</h2>
<table class='table table-sm bg-light'>
  <tr class='table-info'><th>Name</th><th>Description</th></tr>
  {% for fName, fData in Rules.getFeats().items() -%}
  <tr><td class='pr-3'>{{fName}}</td><td>{{fData.description|safe}}</td></tr>
  {% endfor -%}
</table>
<!-- Skills -->
<h2>Skills</h2>
<table class='table table-sm bg-light'>
  <tr class='table-info'><th>Name</th><th>Key Attribute</th><th>Untrained</th></tr>
  {% for sName, sData in Rules.getSkills().items() -%}
  <tr><td>{{sName}}</td><td>{{sData.key}}</td><td><i class='fas {% if sData.UT %}fa-check text-success{%else%}fa-minus text-secondary{%endif%}'></i></td></tr>
  {% endfor -%}
</table>

</div>
{% endblock %}

{% block Footer %}
{% endblock %}
