{% extends 'base.html' %}

{% block Body %}
<div class='container-fluid mt-3'>
<!-- Other Books -->
<div class='col-4 float-right'>
  <h2>
    <form method=post action='/rules/Magic'>
    <div class='float-right fs70'>Search <input type=text size=15 name=term class='bg-light'><button type="submit" class="btn btn-secondary fas fa-search fs100" name='submit' value='Save'></button></div>
    </form>
    All Books
  </h2>
  <h5>{%for bid,book in RuleBooks.items()%}<a href='/rules/Magic/{{bid}}/A' class='badge badge-secondary mr-3'>{{book.Title}}</a>{%endfor%}</h5>
</div>
<!-- Initials -->
<h2>Contents of {{Title}}</h2>
<h3>{%for initial in Initials%}{%if Initials[initial]!=0%}<a href='{{initial}}' title='{{Initials[initial]}} Spells' class='badge badge-{%if initial==Initial %}success{%else%}info{%endif%} mr-3'>{{initial}}</a>{%endif%}{%endfor%}</h3>

<h2>Spells</h2>
<table class='table table-sm table-striped bg-light'>
  <tr class='table-info'><th>Name</th><th>Level(s)</th><th>Casting</th><th>Range</th><th>Area</th>
    <th>Effect</th><th>Duration</th><th>Saving</th><th>Info</th></tr>
  {% for id,spell in RuleBook.spells.items() -%}
  {%if spell.Title[0] == Initial -%}
  <tr><td class='px-2'>{{spell.Title}}</td><td>{{spell.Level}}</td><td>{{spell.Casting}}</td>
    <td>{{spell.Range}}</td><td>{{spell.Area}}</td><td>{{spell.Effect}}</td><td>{{spell.Duration}}</td>
    <td>{{spell.Saving}}</td><td><i class='fas fa-info-circle'data-toggle="popover"
        data-html=true data-trigger=hover data-content="{{spell.Words}}"></i>
  </td></tr>
  {% endif -%}
  {% endfor -%}
</table>

</div>
{% endblock %}

{% block Footer %}
{% endblock %}
