{% extends 'base.html' %}

{% block Body %}
<div class='container-fluid mt-3'>
<!-- Other Books -->
<div class='col-4 float-right'>
  <h2>
    <form method=post>
    <div class='float-right fs70'>Search <input type=text size=15 name=term class='bg-light'>
      <button type="submit" class="btn btn-secondary fas fa-search fs100" name='submit' value='Save'></button></div>
    </form>
    All Books
  </h2>
  <h5>{%for bid,book in RuleBooks.items()%}<a href='/rules/Magic/{{bid}}/A' class='badge badge-secondary mr-3'>{{book.Title}}</a>{%endfor%}</h5>
</div>

<h2>Spells</h2>
<table class='table table-sm table-striped bg-light'>
  <tr class='table-info'><th>Book</th><th>Name</th><th>Level(s)</th><th>Casting</th><th>Range</th><th>Area</th>
    <th>Effect</th><th>Duration</th><th>Saving</th><th>Info</th></tr>
  {% for bid,Book in RuleBooks.items() -%}
  {% for sid, spell in Book.spells.items() -%}
  <tr><td title='{{bid}}'>{{Book.Title}}</td><td class='px-2' title='{{sid}}'>{{spell.Title}}</td><td>{{spell.Level}}</td><td>{{spell.Casting}}</td>
    <td>{{spell.Range}}</td><td>{{spell.Area}}</td><td>{{spell.Effect}}</td><td>{{spell.Duration}}</td>
    <td>{{spell.Saving}}</td><td><i class='fas fa-info-circle'data-toggle="popover"
        data-html=true data-trigger=hover data-content="{{spell.Words}}"></i>
  </td></tr>
  {% endfor -%}
  {% endfor -%}
</table>

</div>
{% endblock %}

{% block Footer %}
{% endblock %}
