{% extends 'base1.html' %}

{% block Body %}
<div class='container-fluid'>
 <div class='row'>
  <div class='col-5 bg-light m-4 p-3'>
    <h4 class='mb-5'>Test 1, Javascript: <span id='test1' class='text-danger'>Your browser ain't running Javascript</span></h4>
  </div>

  <div class='col-5 bg-light m-4 p-3'>
    <h4>Test 2, Simple form<br>
    <form method=post>
    Enter some text <input type=text name=test2><button type=submit>Submit</button></h4>
    </form>
    {%if Test2%}<h4 class='text-success'>Success, You entered: {{Test2}}</h4>{%endif%}
  </div>

  <div class='col-5 bg-light  m-4 p-3'>
    <h4>Test 3, Submit Section
    <button id='test3' class='mx-4 btn btn-warning' onClick='test3()'>Test</button></h4>
    <div id='divAbilities' class='col-6'>An Abilities panel should appear here</div>
  </div>

  <div class='col-5 bg-light  m-4 p-3'>
    <h4>Test 4, Submit Item
    <button id='test4' class='mx-4 btn btn-warning' onClick='test4()'>Test</button></h4>
    <div id='divSaving' class='col-6'>A Saving Throw panel should appear here</div>
  </div>
 </div>
</div>

<script>
setTimeout( function(){
  $('#test1').removeClass('text-danger').addClass('text-success').html('Javascript is running');
}, 500);
function test3() {
  pokeAttrib('Abilities','0','nonce','T_E_S_T');
}
function test4() {
  toggleAttrib('Saving','0','T_E_S_T');
}
</script>
{% endblock -%}

{% block Footer -%}
{% endblock -%}
