{% extends 'base.html' %}

{% block Body %}
<div class='container-fluid'>
 <div class='row'>

  <div class='col-5 bg-light m-4 p-3'>
    <h4 class='mb-5'>Test 1, Javascript: <span id='test1' class='text-danger'>Your browser ain't running Javascript</span></h4>
  </div>

  <div class='col-5 bg-light m-4 p-3'>
    <h4>Test 2, Simple form<br>
    <form method=post>
    Enter some text <input type=text name=test2><button type=submit>Submit</button></h4>
    </form>
    {%if Test2%}<h4 class='text-success'>Success, You entered: {{Test2}}</h4>{%endif%}
  </div>

  <div class='col-5 bg-light  m-4 p-3'>
    <h4>Test 3, Submit Section
    <button id='test3' class='mx-4 btn btn-warning' onClick='test3()'>Test</button>
      <span id='t3_note' class='text-info fs70 d-none'>The Edit and Refresh buttons should work</span></h4>

    <div id='divAbilities' class='col-6'>An Abilities panel should appear here</div>
  </div>

  <div class='col-5 bg-light  m-4 p-3'>
    <h4>Test 4, Submit Item
    <button id='test4' class='mx-4 btn btn-warning' onClick='test4()'>Test</button>
      <span id='t4_note' class='text-info fs70 d-none'>The Edit and Refresh buttons should work</span></h4>
    <div id='divSaving' class='col-6'>A Saving Throw panel should appear here</div>
  </div>
 </div>

 <p><b>Your browser is:</b> {{request.headers.get('User-Agent')}}</p>
 <p><b>Your display window is:</b> <span id='width'></span> x <span id='height'></span></p>

<div class='row mx-0'>
    <ul class="nav nav-pills flex-column col-1" role='tablist'>
      <li class="nav-item">
        <a class="nav-link active" href="#content-1" data-toggle="tab" >Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#content-2" data-toggle="tab" >Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#content-3" data-toggle="tab" >Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#content-4">Disabled</a>
      </li>
    </ul>
    <div id='sb-contents' class='col-5 tab-content bg-light'>
      <div id='content-1' class='sb-content tab-pane fade show active'>Content 1</div>
      <div id='content-2' class='sb-content tab-pane fade '>Content 2</div>
      <div id='content-3' class='sb-content tab-pane fade '>Content 3</div>
      <div id='content-4' class='sb-content tab-pane fade '>Content 4</div>
    </div>
</div>


</div>

<script>
setTimeout( function(){
  $('#test1').removeClass('text-danger').addClass('text-success').html('Javascript is running');
  $('#width').html(window.innerWidth);
  $('#height').html(window.innerHeight);
}, 500);
function test3() {
  pokeAttrib('Abilities','0','nonce','T_E_S_T');
  $('#t3_note').removeClass('d-none');
}
function test4() {
  toggleAttrib('Saving','0','T_E_S_T');
  $('#t4_note').removeClass('d-none');
}
</script>
{% endblock -%}

{% block Footer -%}
{% endblock -%}
